# 🔥 Hellholt 🔥
{{ webring }}

Hellholt is for more personal things; my dotfiles, blog, other writing, etc. The emphasis here is generally my personal use or reflection.

## Repositories
{{ repositories }}

## Permissions
I'm releasing everything I create here under an [Unlicense](https://choosealicense.com/licenses/unlicense/) in the hopes that it proves interesting or useful to other engineers.

---

< [@ndouglas](https://github.com/ndouglas/)
