name: Continuous Delivery
on:
  push:
    branches:
      - main
  workflow_call:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  setup:
    name: "Setup"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

  update-profile-readme:
    name: "Update Profile README"
    needs: [setup]
    uses: ./.github/workflows/update-profile-readme.yaml

  bump-version:
    name: "Bump version"
    needs: [update-profile-readme]
    uses: ./.github/workflows/bump-version.yaml
